<head>
  <title>Home</title>
</head>

<body class="padding">

    <h3> Home </h3>
    <br/><br/><br/><br/><br/><br/>
    <div class="row">
      <div class="col-md 6">
        <img src="assets/fb.jpg" width=350px height=230px>
      </div>
    <br/>
      <div class="col-md 6">
        <br/><br/><br/>
        <p> Our main vision to keep up with the immensely accelerated innovation in automotive technology worldwide by: researching, learning and applying this knowledge to revive the automotive industry in Egypt.
        </p>
      </div>
    </div>
</body>
